.vermelho {
        background-color:red;
        padding:10px;
        border:1px solid white;
      }
      .azul {
        background-color:#3299cc;
        padding:10px;
        border:1px solid white;
      }
      .verde {
        background-color:#229A00;
        padding:10px;
        border:1px solid white;
      }
      .amarelo {
        background-color:yellow;
        padding:10px;
        border:1px solid white;        
      }
      #vermelho1 {
        background-color:red;
        padding:10px;
        border:1px solid black;
      }
      #vermelho2 {
        background-color:red;
        padding:10px;
        border:1px solid black;
      }
      #vermelho3 {
        background-color:red;
        padding:10px;
        border:1px solid black; 
      }
      #vermelho4 {
        background-color:red;
        padding:10px;
        border:1px solid black;
      }
      div {
        display: inline-block;
        border: 1px;
        width: 50px;
        height: 50px;
        margin: -2px;
        justify-content: center;
      }
      body{
        background-color: #FFE4E1;
      }
